<!DOCTYPE html>
<html>
<head>

    <title>PCOSight</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

   <nav>

    <div class="logo">

        PCOSight

    </div>

    <div class="nav-links">

        <a href="/">Home</a>

        <a href="/prediction">Prediction</a>

        <a href="/dashboard">Dashboard</a>

        <a href="/awareness">Awareness</a>

    </div>

</nav>

   <section class="hero">

    <div class="hero-box">

        <h1>PCOSight</h1>

        <p>
            Smart insights for women's hormonal health
        </p>

        <a href="/prediction">

            <button>

                Start Prediction

            </button>

        </a>

    </div>

</section>

<section class="info-container">

    <div class="info-card">

        <h2>What is PCOS?</h2>

        <p>
            PCOS stands for Polycystic Ovary Syndrome,
            a hormonal disorder affecting women's
            reproductive health.
        </p>

    </div>

    <div class="info-card">

        <h2>Common Symptoms</h2>

        <ul>

            <li>Irregular periods</li>

            <li>Weight gain</li>

            <li>Hair growth</li>

            <li>Acne</li>

        </ul>

    </div>

    <div class="info-card">

        <h2>Why Awareness Matters?</h2>

        <p>
            Early detection and healthy lifestyle
            management can help reduce complications.
        </p>

    </div>

</section>

    <footer>

        PCOSight © 2026 | Women's Health Awareness Platform

    </footer>

</body>
</html>
